* {
    box-sizing: border-box;
}

#contenedor{
    width: 100%;
    max-width: 1400px;
    margin: 0;
}

body{
    margin: 0;
    padding: 0;
}

header{
    background: rgba(55, 67, 233, 0.575);
}
header h1{
    padding: 1em;
    text-align: center;
}

nav ul{
    margin: 0;
    padding: 0;
}

nav li{
    display: inline-block;
}

main {
    padding: 2em;
    background: white;
}

